#Uso de series difusas para el desarrollo de modelos de predicción de demandas de la energía eléctrica.

**Estudiante: José Manuel Rubio Cienfuegos.**

**Prof. José Miguel Rubio León.**

**Prof coguía: Francisco Rivera.**

El siguiente notebook contiene el sistema encargado de procesar la base de datos que contiene información sobre diversos consumos de energía, además de datos sobre las variables que afectan este consumo de energía.

##Librerías

Esta celda contiene información sobre todas librerías necesarias para el procesamiento de la información y exposición de los resultados obtenidos.

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
import statistics as st

# sklearn models
from sklearn import linear_model
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

# metrics evaluate
from sklearn.metrics import mean_squared_error, max_error, mean_absolute_error
# from sklearn.utils import check_arrays

# MAPE Function

def MAPE(y_true, y_pred):
  true_length, pred_length = y_true.__len__(), y_pred.__len__()
  assert true_length == pred_length, ('Lengths of arrays are differents, y_true have ' + str(true_length) + ' values and y_pred have ' + str(pred_length) + ' values.')
  return (100*(sum(abs((y_true - y_pred)/(y_true)))))/(y_true.__len__())

##Carga de datos

Los datos a utilizar se cargan en este bloque. Previo a esto se deben haber subido a la interfaz de colab o habilitar un link de algun servidor para cargarlos de manera remota.

In [52]:
# Extracción de datasets
df_energy = pd.read_csv('energy_dataset.csv')
df_weather = pd.read_csv('weather_features.csv')

The MAPE of the work is: 1.096 %

In [54]:
df_energy.head()

                        time  generation biomass  ...  price day ahead  price actual
0  2015-01-01 00:00:00+01:00               447.0  ...            50.10         65.41
1  2015-01-01 01:00:00+01:00               449.0  ...            48.10         64.92
2  2015-01-01 02:00:00+01:00               448.0  ...            47.33         64.48
3  2015-01-01 03:00:00+01:00               438.0  ...            42.27         59.32
4  2015-01-01 04:00:00+01:00               428.0  ...            38.41         56.04

[5 rows x 29 columns]

In [55]:
df_weather.head()

                      dt_iso city_name  ...  weather_description  weather_icon
0  2015-01-01 00:00:00+01:00  Valencia  ...         sky is clear           01n
1  2015-01-01 01:00:00+01:00  Valencia  ...         sky is clear           01n
2  2015-01-01 02:00:00+01:00  Valencia  ...         sky is clear           01n
3  2015-01-01 03:00:00+01:00  Valencia  ...         sky is clear           01n
4  2015-01-01 04:00:00+01:00  Valencia  ...         sky is clear           01n

[5 rows x 17 columns]

Antes de desarrollar algun modelo, se debe destacar que dentro de los datos ya se cuentan con valores predichos para la demanda. Por ello esta celda indica cual es el **MAPE** (*Mean Absolute Percentage Error*) de los datos pronosticados guardados en el dataset *energy_dataset.csv*

In [53]:
df_demand = df_energy[['total load actual', 'total load forecast']].dropna() # Eliminación de nans presentes en la columna de valores de la demanda.
demand_total, demand_forecast = df_demand['total load actual'], df_demand['total load forecast']

# MAPE de los valores predichos en la demanda del dataset original.
MAPE_goal = MAPE(demand_total.values, demand_forecast.values)
print('The MAPE of the work is:', round(MAPE_goal, 3), '%')

The MAPE of the work is: 1.096 %

In [79]:
energy_values = df_energy.values
generation_values, demand_values = energy_values[:,1:-7], demand_total.values
generation_values.shape

(35064, 21)

In [76]:
df_energy

                            time  ...  price actual
0      2015-01-01 00:00:00+01:00  ...         65.41
1      2015-01-01 01:00:00+01:00  ...         64.92
2      2015-01-01 02:00:00+01:00  ...         64.48
3      2015-01-01 03:00:00+01:00  ...         59.32
4      2015-01-01 04:00:00+01:00  ...         56.04
...                          ...  ...           ...
35059  2018-12-31 19:00:00+01:00  ...         77.02
35060  2018-12-31 20:00:00+01:00  ...         76.16
35061  2018-12-31 21:00:00+01:00  ...         74.30
35062  2018-12-31 22:00:00+01:00  ...         69.89
35063  2018-12-31 23:00:00+01:00  ...         69.88

[35064 rows x 29 columns]

In [75]:
generation_values

array([[447.0, 329.0, 0.0, ..., 196.0, 0.0, 6378.0],
       [449.0, 328.0, 0.0, ..., 195.0, 0.0, 5890.0],
       [448.0, 323.0, 0.0, ..., 196.0, 0.0, 5461.0],
       ...,
       [292.0, 0.0, 0.0, ..., 286.0, 0.0, 3503.0],
       [293.0, 0.0, 0.0, ..., 287.0, 0.0, 3586.0],
       [290.0, 0.0, 0.0, ..., 287.0, 0.0, 3651.0]], dtype=object)

In [72]:
A = np.array([[1,3],[4,5]])
np.sum(A, 1)

array([4, 9])

## Extracción de variables estocásticas de interes para la demanda de la energía eléctrica.

Una parte importante de este trabajo es la búsqueda de las características que más afectan a la demanda de la energía eléctrica, donde se espera que estas esten presentes dentro de la base de datos. Para ellos se realiza una búsqueda de cuales son las variables que más influyen en los valores presentes en la demanda de la energía.

## Series Temporales

En esta sección se procesa la información de la base de datos para realizar las predicciones mediante el uso de series temporales clásicas.

### Modelos clásicos de ML.

En estas celdas se presentan el desarrollo de regresores clásicos de machine learning, para lo cual se utiliza la librería sklearn para su configuración básica.

## Series Temporales Difusas.

Mediante la representación mostrada en la sección anterior, en esta sección se añade las características de los conjuntos difusos para la obtención de nuevas representaciones de la información de la demanda de la energía.

### Modelos de machine learning aplicados a series difusas.

De manera similar a la seccion anterior, tras la conversión de los datos para la obtención de las series temporales difusas, entonces se aplican los mismos modelos para la predicción de la demanda en este dominio, ademas de hacerse la operación inversa para la obtención de la predicción en el dominio inicial.